<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>新規会員登録｜{{ SITENAME }}</title>
{{ include('parts/css.html') }}
<link rel="stylesheet" type="text/css" href="css/login.css?{{ CSSVERSION }}" />
{{ include('parts/javascript.html') }}
<script type="text/javascript" src="js/login.js?{{ JSVERSION }}"></script>
</head>
<body>
<div id="wrapper">

<!-- menu -->
{{ include('parts/header_nologin.html') }}

<div id="main">

サインアップ！

</div><!-- #main -->

</div><!-- #wrapper -->
</body>
</html>