body {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meyrio, 'ＭＳ ゴシック', sans-serif;
	margin:0;
	padding:0;
	font-size:100%;
	line-height:1.5;
	color:#333333;
}
a:link,
a:visited,
a:hover,
a:active {
	color:#333333;
}
a:hover {
	text-decoration:none;
}
#wrapper {
	width:100%;
	margin:0;
	padding:0;
}

/* リマーケティングタグ -------------------- */
iframe[name="google_conversion_frame"] {
	position: absolute;
	top: 0;
}

/* header -------------------- */
.header_wrap {
	width: 100%;
	border-bottom: solid 3px #4584a5;
}
.header_wrap header {
	max-width:1020px;
	margin: 0 auto;
	padding:0;
}
.header_wrap header img {
	display: block;
	margin:10px 0 10px 10px;
}


/* lead -------------------- */
.lead_wrap {
	width:100%;
	background-color:#f5f2ed;
}
.lead_wrap h1 {
	text-align:center;
}
.lead_wrap h1 img {
	width:100%;
	max-width:540px;
}
.lead_wrap .lead_container {
	max-width:900px;
	margin: 0 auto;
	padding:30px 10px 20px;
}
.lead_wrap .lead_container h2 {
	font-size:2.14em;
	font-weight:bold;
	text-align:center;
	border-bottom: solid 3px #4584a5;
	margin:30px 0 10px;
}
.lead_wrap .lead_container h3 {
	font-size:1.38em;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}
.lead_wrap .lead_container .lead_txt {
	overflow:hidden;
	font-size:1.13em;
}
.lead_wrap .lead_container .lead_txt img {
	float:right;
	margin-left:1%;
	width:30%;
	max-width:250px;
}

/* step -------------------- */
.step_wrap {
	background:transparent url("../../img/rakuraku/bg_step_wrap.png") repeat-x 0 bottom;
	padding:30px 0;
}
.step_wrap ul {
	max-width:980px;
	padding:0 10px;
	margin:0 auto;
	overflow:hidden;
}
.step_wrap ul li {
	float:left;
}
.step_wrap ul li {
	width:30%;
	margin-left:5%;
}
.step_wrap ul li img {
	width:100%;
}
.step_wrap ul li:first-child {
	margin-left:0;
}

/* form -------------------- */

#form_container {
	max-width:900px;
	margin:0 auto;
	padding:40px 10px 0;
}
#form_container h2 {
	font-size:2.14em;
	font-weight:bold;
	text-align:center;
	margin-bottom:30px;
}
form {
	width:100%;
}
form table {
	margin-bottom:20px;
	border-top:1px solid #4584a5;
	width:100%;
}
form table th,
form table td {
	vertical-align:middle;
	padding:10px;
	border-bottom:1px solid #4584a5;
}
form table th {
	background-color:#e1ecf2;
	text-align:left;
	width:38%;
	color:#4584a5;
	font-size:1.13em;
	font-weight:bold;
	position:relative;
	padding-right:50px;
}

form table th img {
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-15px;
}
form table input,
form table select,
form table textarea {
	font-size:1em;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meyrio, 'ＭＳ ゴシック', sans-serif;
}


form table input,
form table select {
	padding:10px;
	border:solid 1px #ccc;
	width:300px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-sizing: border-box;
}


form table select,
form table #datepicker,
form table #datepicker2 {
	width:200px;
}

form table .people input {
	width:100px;
}

form table .free_kibou_area {
	width:100%;
}

form table .price span,
form table .date span,
form table .people span {
	margin-left:8px;
	margin-right:8px;
}

form table .date input {
	margin-right:6px;
}

form table .date img {
	vertical-align:middle;
}
form table .people br,
form table .date br,
form table .price br {
	display:none;
}

form table ul.chk_list {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
form table ul.chk_list li {
	float:left;
	display:inline;
	width:33.3%;
}
form table ul.chk_list li input {
	width:auto;
	margin-right:5px;
}

form table textarea.free_youbou {
	width:100%;
	height:100px;
}

form table ul.chk_list li.privacy {
	width:auto;
}

form .agreement {
	font-size:1.13em;
	font-weight:bold;
}
form .agreement .chk {
	text-align:center;
	margin-bottom:20px;
}
form .agreement input {
	margin-right:5px;
}
form .agreement img {
	vertical-align:middle;
	margin-left:10px;
}
form .agreement .privacy-ul{
	list-style-type:disc;
	list-style-position:outside;
	margin-left:20px;
	font-size:16px;
	font-weight:normal;
	margin-bottom:20px;
}

form #to_confirm {
	border:none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-sizing: border-box;
	width:auto;
	font-size:1.63em;
	font-weight:bold;
	padding:15px 25px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fdc518), color-stop(0.00, #fdd540));
	background: -webkit-linear-gradient(#fdd540, #fdc518);
	background: -moz-linear-gradient(#fdd540, #fdc518);
	background: -o-linear-gradient(#fdd540, #fdc518);
	background: -ms-linear-gradient(#fdd540, #fdc518);
	background: linear-gradient(#fdd540, #fdc518);
	cursor:pointer;
}

form #return_input {
	border:none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-sizing: border-box;
	width:auto;
	font-size:1.63em;
	font-weight:bold;
	padding:15px 25px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #b8d5e5), color-stop(0.00, #90c0da));
	background: -webkit-linear-gradient(#90c0da, #b8d5e5);
	background: -moz-linear-gradient(#90c0da, #b8d5e5);
	background: -o-linear-gradient(#90c0da, #b8d5e5);
	background: -ms-linear-gradient(#90c0da, #b8d5e5);
	background: linear-gradient(#90c0da, #b8d5e5);
	margin-right:40px;
	color:#ffffff;
	cursor:pointer;
}
.to_docknet img {
	max-width:900px;
	width:100%;
}
.to_docknet_sp img {
	max-width:600px;
	width:100%;
}
.to_docknet_sp {
	display:none;
}
/* footer -------------------- */
.footer_wrap {
	width: 100%;
	background-color:#4584a5;
	margin:60px 0 0;
}
.footer_wrap footer {
	max-width:1000px;
	margin: 0 auto;
	color:#ffffff;
	padding:20px 0;
	text-align:center;
}
.footer_wrap footer br {
	display:none;
}

/* 電話番号エリア --------------*/
.contactPanel {
  width: 610px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin: 28px auto 50px;
  padding: 20px 0;
  text-align: center;
}
.contactPanel p.tel {
  position: relative;
  color: #283f68;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
}
.contactPanel p.tel:before {
  position: relative;
  display: inline-block;
  content: '';
  top: 2px;
  margin-right: 5px;
  width: 19px;
  height: 25px;
  vertical-align: top;
  background-image: url(../img/icon_tel_19x25.png);
  background-size: 19px 25px;
  background-position: left center;
  background-repeat: no-repeat;
}
.contactPanel h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.contactPanel p {
  font-size: 14px;
  line-height: 2;
}




/* max-width:900px
==================================================== */

@media screen and (max-width:900px) {

/* form -------------------------------------------- */
form table .date br,
form table .price br {
	display:inline;
}
form table ul.chk_list li {
	width:50%;
}

}

/* max-width:619px
==================================================== */

@media screen and (max-width:619px) {

/* form -------------------------------------------- */
form table .people br {
	display:inline;
}

form table .people input {
	margin-bottom:10px;
}


}



/* max-width:499px
==================================================== */

@media screen and (max-width:499px) {
.header_wrap header img {
	width:30%;
}
.lead_wrap .lead_container h2 {
	font-size:1.5em;
	margin:10px 0;
}
.lead_wrap .lead_container h3 {
	font-size:1.19em;
}
.lead_wrap .lead_container {
	padding:20px 10px;
}
.lead_wrap .lead_container .lead_txt img {
	width:50%;
	max-width:212px;
	float:none;
	display:block;
	margin:0 auto;
}

.step_wrap {
	padding:10px 55px;
	background-image:none;
	background-color:#ffcc00;
}
.step_wrap ul li {
	float:none;
}
.step_wrap ul li {
	width:100%;
	margin:0;
}
.step_wrap ul li img {
	width:100%;
}
.footer_wrap footer br {
	display:inline;
}
.ui-datepicker {
	width:15em!important;
}
.to_docknet {
	display:none;
}
.to_docknet_sp {
	display:block;
}

/* form -------------------------------------------- */
form .agreement .chk {
	text-align:left;
	margin-bottom:10px;
}
#form_container {
	padding:20px 10px 0;
}

#form_container h2 {
	font-size:1.5em;
	margin-bottom:10px;
}
form table {
	border-top:none;
	border-bottom:1px solid #4584a5;
	margin-bottom:10px;
}
form table th,
form table td {
	display:block;
	width:auto;
	border:none;
}
form table th {
	padding-right:10px;
}
form table input,
form table select {
	width:100%;
}
form table select,
form table #datepicker,
form table #datepicker2 {
	width:70%;
}

.contactPanel {
  width: 100%;
}
}

/* max-width:369px
==================================================== */

@media screen and (max-width:369px) {
.lead_wrap .lead_container .lead_txt {
	font-size:1.0em;
}

/* form -------------------------------------------- */
form #to_confirm,
form #return_input {
	display:block;
	margin:0 auto;
}
form #return_input {
	margin-bottom:10px;
}

}







/* ==================================================== */

.ac {
	text-align:center;
}
.mr_10 {
	margin-right:10px;
}
.ml_10 {
	margin-left:10px;
}
.mb_10 {
	margin-bottom:10px;
}
.mb_20 {
	margin-bottom:20px;
}
.mb_30 {
	margin-bottom:30px;
}

